<!-- En-tête calendrier -->
<h1 class="text-center">Planning des Missions</h1>
<div class="row">
  <div
    class="btn btn-default btn-lg"
    mwlCalendarPreviousView
    [(view)]="view"
    [(viewDate)]="viewDate">
    <i class="fa fa-angle-double-left" (click)="viewDatePreviousYear()"></i>
  </div>
  <div
    class="btn btn-default btn-lg"
    mwlCalendarPreviousView
    [(view)]="view"
    [(viewDate)]="viewDate">
    <i class="fa fa-angle-left"></i>
  </div>
  <div
    class="btn btn-default btn-lg"
    mwlCalendarToday
    [(viewDate)]="viewDate">
    <i class="fa fa-calendar"></i>
  </div>
  <div
    class="btn btn-default btn-lg"
    mwlCalendarNextView
    [(view)]="view"
    [(viewDate)]="viewDate">
    <i class="fa fa-angle-right"></i>
  </div>
  <div
    class="btn btn-default btn-lg"
    mwlCalendarNextView
    [(view)]="view"
    [(viewDate)]="viewDate">
    <i class="fa fa-angle-double-right" (click)="viewDateNextYear()"></i>
  </div>
  <div class="text-center">
    <h3>
      {{ viewDate | calendarDate:(view + 'ViewTitle'):locale:weekStartsOn }}
    </h3>
  </div>
</div>
<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="events"
    [locale]="locale"
    [weekStartsOn]="weekStartsOn"
    [weekendDays]="weekendDays"
    [cellTemplate]="customCellTemplate">
  </mwl-calendar-month-view>
</div>

<!-- Template calendrier -->
<ng-template #customCellTemplate let-day="day" let-locale="locale">
  <div class="cal-cell-top">
    <span class="cal-day-number">{{ day.date |
      calendarDate:'monthViewDayNumber':locale }}
    </span>
  </div>
  <div *ngFor="let event of day.events">
    <div [className]="event.color == this.couleurMission ? 'missions':
      'joursFeries'">
      <small>
        {{ event.title }}
      </small>
    </div>
  </div>
</ng-template>
