<h1 class="text-center">Gestion des notes de frais</h1>

<table class="table table-striped" *ngIf="collegueConnecte | async as col">
  <thead>
    <tr>
      <th scope="col">Date de début</th>
      <th scope="col">Date de fin</th>
      <th scope="col">Nature</th>
      <th scope="col">Départ</th>
      <th scope="col">Arrivée</th>
      <th scope="col">Transport</th>
      <th scope="col">Frais</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let mission of listeMissions">
      <td>{{mission.dateDebut | date : 'dd/MM/yyyy'}}</td>
      <td>{{mission.dateFin | date : 'dd/MM/yyyy'}}</td>
      <td>{{mission.nature.libelle}}</td>
      <td>{{mission.villeDepart}}</td>
      <td>{{mission.villeArrivee}}</td>
      <td>{{transportToString(mission.transport)}}</td>
      <td>{{mission.noteDeFrais.fraisTotal}} €</td>
      <!-- TODO : changer les >= en <= : laisser comme ça pour tester-->
      <td><i *ngIf="mission.dateFin <= dateAujourdHui" style='font-size:24px' class='fas pointer mx-1'
        [routerLink]="['/note-modification',mission.uuid]">&#xf304;</i>
        <i *ngIf="mission.dateFin < dateAujourdHui" style='font-size:24px' class='fas fa-file-pdf pointer mx-1' (click)="genererPdf(mission)"></i></td>
    </tr>
  </tbody>
</table>
