<h1 class="text-center">Gestion des notes de frais</h1>

<table class="table table-striped" *ngIf="collegueConnecte | async as col">
  <thead>
    <tr>
      <th scope="col">Date de début</th>
      <th scope="col">Date de fin</th>
      <th scope="col">Nature</th>
      <th scope="col">Départ</th>
      <th scope="col">Arrivée</th>
      <th scope="col">Transport</th>
      <th scope="col">Frais</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let mission of listeMissions">
      <td>{{mission.dateDebut}}</td>
      <td>{{mission.dateFin}}</td>
      <td>{{mission.nature.libelle}}</td>
      <td>{{mission.villeDepart}}</td>
      <th>{{mission.villeArrivee}}</th>
      <td>{{mission.transport}}</td>
      <td>{{mission.noteDeFrais.fraisTotal}}€</td>
      <!-- TODO : trouver moyen de comparer sans le getDate() -->
      <!-- de base, toutes les missions ont une note de frais.
      On ne peut la modifier (ajouter des lignes) que si la date de fin de la mission < dateAujourd'hui-->
      <td><i *ngIf="mission.dateFin" style='font-size:24px' class='fas'
        [routerLink]="['/note-modification',mission.uuid]">&#xf304;</i></td>
    </tr>
  </tbody>
</table>
