<h1 class="text-center">Saisie des lignes de frais</h1>
<!-- résumé des infos de la mission -->
<div class="row">
  <div class="col-3">
    <p class="text-sm-right">
      Date de début :<br />
      Date de fin :<br />
      Nature :
    </p>
  </div>
  <div class="col-3">
    <p class="text-sm-left">
      {{mission.dateDebut | date:'dd-MM-yyyy'}} <br />
      {{mission.dateFin | date:'dd-MM-yyyy'}} <br />
      {{mission.nature.libelle}}
    </p>
  </div>
  <div class="col-3">
    <p class="text-sm-right">
      Estimation prime :<br />
      Ville de départ :<br />
      Ville d'arrivée :
    </p>
  </div>
  <div class="col-3">
    <p class="text-sm-left">
      {{mission.prime}} €<br />
      {{mission.villeDepart}} <br />
      {{mission.villeArrivee}}
    </p>
  </div>
</div>
<table class="table table-striped" *ngIf="collegueConnecte | async as col">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Nature</th>
      <th scope="col">Montant</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ligne of mission.noteDeFrais.lignesDeFrais">
      <td>{{ligne.date | date:'dd-MM-yyyy'}}</td>
      <td>{{ligne.nature}}</td>
      <td>{{ligne.montant}} €</td>
      <td>
        <i style='font-size:24px' class='fas' (click)="modifierLigne(mission,ligne)">&#xf304;</i>
        <i style='font-size:24px' class='fas fa-trash' (click)="supprimerLigne(ligne)"></i>
      </td>
    </tr>
  </tbody>
</table>
<button (click)="ajouterLigne(mission)">
  <i style='font-size:24px' class='fas fa-plus'></i></button>
