<h1 class="text-center">Demande de mission</h1>
<form>
  <div class="col-12 col-md-8 form-group">
    <div class="row">
      <div class="col">
        <p>Date de début : </p>
      </div>
      <div class="col">
        <input type="date" class="form-control" required>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>Date de fin : </p>
      </div>
      <div class="col">
        <input type="date" class="form-control" required>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>Nature : </p>
      </div>
      <div class="col">
        <input type="text" class="form-control" required>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>Ville de départ : </p>
      </div>
      <div class="col">
        <input type="text" class="form-control" required>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>Ville d'arrivée : </p>
      </div>
      <div class="col">
        <input type="text" class="form-control" required>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>Transport : </p>
      </div>
      <div class="col">
        <input type="text" class="form-control" required>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>Estimation prime : </p>
      </div>
      <div class="col">
        <p>0 €</p>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col">
      <button class="btn btn-danger" routerLink="/gestion-missions">Annuler</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-success">Valider</button>
    </div>
  </div>

</form>
