<h1 class="text-center">Récapitulatif des primes</h1>

<div class="row">
  <div class="col">
    <!--Choix de l'année-->
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text">Année</label>
      </div>
      <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="anneeSelect" (change)="onChange()">
        <option *ngFor="let annee of listeAnnee">{{annee}}</option>
      </select>
    </div>
    <!--Tableau récapitulatif-->
    <table class="table table-striped" *ngIf="collegueConnecte | async as col">
      <thead>
        <tr>
          <th scope="col">Date de début</th>
          <th scope="col">Date de fin</th>
          <th scope="col">Nature</th>
          <th scope="col">Prime</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mission of missionsSelect">
          <td>{{mission.dateDebut | date: 'dd/MM/yyyy'}}</td>
          <td>{{mission.dateFin | date: 'dd/MM/yyyy'}}</td>
          <td>{{mission.nature}}</td>
          <td>{{mission.prime}}</td>
        </tr>
      </tbody>
    </table>

  </div>
  <!--Diagramme récapitulatif-->
  <div class="col">
    <div class="chartjs-container">
      <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
        [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType" [colors]="barColors">
      </canvas>
    </div>
  </div>
</div>
