<header>
  <div class="row">
    <img src="./assets/header-v3.jpg" class="img-fluid" alt="header">
  </div>
  <div class="text-right">
    <ng-container *ngIf="collegueConnecte | async as col">
      <div class="lead" *ngIf="!col.estAnonyme()">
        <p>Bienvenue {{col.nom}} ! <i class="fa fa-power-off pointer" (click)="seDeconnecter()" id="deco"
            ngbTooltip="Déconnection"></i></p>
      </div>
    </ng-container>
  </div>
</header>


<main class="container">
  <ng-container *ngIf="collegueConnecte | async as col">
    <div *ngIf="!col.estAnonyme()">
      <app-menu></app-menu>
    </div>
  </ng-container>
  <router-outlet></router-outlet>
</main>
