<h1 class="text-center">Nature de mission</h1>

<div class="row">
  <div class="table-responsive">
    <!--Tableau récapitulatif-->
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nature</th>
          <th>Facturée</th>
          <th>Prime</th>
          <th>TJM(€)</th>
          <th>%Prime</th>
          <th>Plafond frais</th>
          <th>Dépt. frais</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let nature of listeNatures">
          <td>{{nature.libelle}} {{nature.debutValidite|date : 'dd/MM/yyyy'}} {{nature.finValidite|date : 'dd/MM/yyyy'}}
          </td>
          <td>{{nature.payee ? 'OUI' : 'NON'}}</td>
          <td>{{nature.versementPrime ? 'OUI' : 'NON'}}</td>
          <td>{{nature.tjm}}</td>
          <td>{{nature.pourcentagePrime}}</td>
          <td>{{nature.plafondFrais}}</td>
          <td>{{nature.depassementFrais ? 'OUI' : 'NON'}}{{nature.uuid}}</td>
          <td>
            <app-modal-modification (click)="select(nature)"></app-modal-modification><i style='font-size:24px'
              class='fas'>&#xf2ed;</i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-modal-ajout></app-modal-ajout>
